@charset "utf-8";

header {
    background-image: url(../../../src/website/images/ebiblio.png);
    max-width: 100%;
    height: 165px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    position: sticky;
    min-width: 865px;
    overflow-x: hidden;
    z-index: -1;
}

body {
	font-family: 'Noto Sans', sans-serif;
}

section {
	margin-top: 1rem;
	margin: 5rem;

}
.bg-rosso {
	background-color: #bb2e29;
}
.bg-verde {
	background-color: #7ABB3B;
}

.benvenuto {
	color: #ffffff;
}

a.metalink {
	color: #DFDEDE;
}

.cerca {
	color: #fff;
    background-color: #002a4f;
    border-color: #606f9c;
}
.cerca:hover {
	color: #002a4f;
    background-color: #fff;
    border-color: #002a4f;
}
.login {
	color: #fff;
    background-color: #002a4f;
    border-color: #606f9c;
}
.login:hover {
	color: #002a4f;
    background-color: #fff;
    border-color: #474747;
}


/*risorse*/

a.card-link {
	color: #606f9c;
}
.card-header {
	background: none;
	color: #7ABB3B;
}

/*video*/

.embed-responsive {
	margin-top: 20px;
	margin-bottom: 20px;
}

/*form*/
.form-group {
	margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-primary {
	color: #fff;
    background-color: #606f9c;
    border-color: #606f9c;
}

.btn-primary:hover {
	color: #fff;
    background-color: #B8CE2E;
    border-color: #B8CE2E;
}

/*FOOTER*/
footer {
	background-color: #bb2e29;
	color: #fff;
    text-align: center;
}

/* LOGIN AND REGISTRATION FORM*/
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 15%;
  border-radius: 50%;
}

.pdf_holder{
    margin-top: 20px;
}


/*Bottone per tornare alla homepage visualizzazioni*/
.backHomePage{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #002a4f;
    color: #fff;
    border-radius: 8px;
}

/* INZIO Tabella visualizzazioni*/

table {
    border-collapse: collapse;
    text-align: center;
    font-size: 1.3em;
    margin-top: 50px;
}

td,
th {
    width: 200px;
    text-align: center;
    margin: 5px;
    padding: 15px;
}

tbody > tr{
    margin: 20px 0px 20px 0px;
}     

img.avatarTableBiblio {
  width: 55%;
  border-radius: 50%;
}

img.avatarTableLibro{
  width: 40%;
  border-radius: 50%;
}

img.avatarTablePL {
  width: 20%;
  border-radius: 50%;
}

th{
    font-weight: 800;
}

/* FINE Tabella visualizzazioni*/

/* INIZIO open street map */

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60%;
    height: 50%;
}

/* FINE open street map */




/* Style the navbar */
.topnav {
    overflow: hidden;
    background-color: whitesmoke;
    border-top: 3px;
    border-top-color: #002a4f;
    
}

/* Navbar links */
.topnav a {
    float: left;
    display: block;
    color: #bb2e29;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-right: 2px solid #bb2e29;
}

/* Navbar links on mouse-over */
.topnav a:hover {
  background-color: #bb2e29;
  color: white;
}


/* Active/current link */
.topnav a.active {
    background-color: #bb2e29;
    color: #fff;
    font-weight: bold;
}

/* Style the input container */
.topnav .login-container {
  float: right;
}

/* Style the button inside the input container */
.topnav .login-container button {
    float: right;
    text-align: center;
    padding: 8px;
    margin-top: 6px;
    margin-left: 2px;
    margin-right: 4px;
    background: #002a4f;
    color: #fff;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.topnav .login-container button:hover {
  background: #fff;
    color: #002a4f;
}

.logout{
    float: right;
    text-align: center;
    padding: 8px;
    margin-top: 6px;
    margin-left: 2px;
    margin-right: 4px;
    background: #002a4f;
    color: #fff;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}
/*DROPDOWN*/

.top-dropdown {
  float: left;
  overflow: hidden;
    border-right: 2px solid #bb2e29;
}

.top-dropdown .top-dropbtn {
  font-size: 17px;  
  border: none;
  outline: none;
  color: #bb2e29;
    background-color: whitesmoke;
  padding: 14px 16px;
  margin: 0;
}

.top-dropdown:hover .top-dropbtn {
  background-color: #bb2e29;
    color: #fff;
}

.top-dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.top-dropdown-content a {
  float: none;
    color: #bb2e29;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.top-dropdown-content a:hover {
  background-color: #bb2e29;
}

.top-dropdown:hover .top-dropdown-content {
  display: block;
}